{
	data = {
		"sh_items" = (
			{
				"sh_id" = 1126;
				"sh_name" = "\U4e95\U9649\U53bf";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1127;
				"sh_name" = "\U4e95\U9649\U77ff\U533a";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1128;
				"sh_name" = "\U5143\U6c0f\U53bf";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1129;
				"sh_name" = "\U5e73\U5c71\U53bf";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1130;
				"sh_name" = "\U65b0\U4e50\U5e02";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1131;
				"sh_name" = "\U65b0\U534e\U533a";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1132;
				"sh_name" = "\U65e0\U6781\U53bf";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1133;
				"sh_name" = "\U664b\U5dde\U5e02";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1134;
				"sh_name" = "\U683e\U57ce\U53bf";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1135;
				"sh_name" = "\U6865\U4e1c\U533a";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1136;
				"sh_name" = "\U6865\U897f\U533a";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1137;
				"sh_name" = "\U6b63\U5b9a\U53bf";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1138;
				"sh_name" = "\U6df1\U6cfd\U53bf";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1139;
				"sh_name" = "\U7075\U5bff\U53bf";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1140;
				"sh_name" = "\U85c1\U57ce\U5e02";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1141;
				"sh_name" = "\U884c\U5510\U53bf";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1142;
				"sh_name" = "\U88d5\U534e\U533a";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1143;
				"sh_name" = "\U8d5e\U7687\U53bf";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1144;
				"sh_name" = "\U8d75\U53bf";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1145;
				"sh_name" = "\U8f9b\U96c6\U5e02";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1146;
				"sh_name" = "\U957f\U5b89\U533a";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1147;
				"sh_name" = "\U9ad8\U9091\U53bf";
				"sh_parentid" = 73;
			},
			{
				"sh_id" = 1148;
				"sh_name" = "\U9e7f\U6cc9\U5e02";
				"sh_parentid" = 73;
			},
		);
	};
}